/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

nav.main {
  @extend .navbar;
  @extend .navbar-default;

  ul.menu {
    @extend .nav;
    @extend .navbar-nav;
  }
}

h2 {
  @extend .page-header;
}

table {
  @extend .table;
}

.notice {
  @extend .alert;
  @extend .alert-info;
}

.save-record form {
  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
    float: left;
  }
}

.form-errors {
  @extend .alert;
  @extend .alert-danger;
}

a.delete {
  @extend .btn;
  @extend .btn-warning;
  float: right;
}

a.action {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-xs;
}

label { font-weight: normal; }
