<div class="form-errors">
  <p>Sorry, the following problems need to be fixed:</p>
  <ul>
    <%= record.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <%- end -%>
  </ul>
</div>
